<div class="container h-100 d-flex align-items-center justify-content-center">
    <div class="jumbotron my-auto">
        <div class="row text-center">
            <div class="col-sm-4">
                <div class="well">
                    <h3>Publish your portfolio</h3>
                    <p>Add you API keys from Poloniex and Bitterx and upload your portfolio</p>
                    <p>Track your porfolio value</p>
                    <p>See other traders porfolio and find new investment ideas</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="well">
                    <h3>Connect with other traders!</h3>
                    <p>Find people who are interested in similar coins and follow them</p>
                    <p>Share articles and see what other traders post on their wall</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="well">
                    <h3>Meet up in real life</h3>
                    <p>Grow your network of connections around the globe</p>
                    <p>Search for people you follow on Google map</p>
                    <p>Find people and meet people who share your interest</p>
                </div>
            </div>
        </div>
    </div>
</div>