<!--  <!DOCTYPE html>
<html>
  <head>
    <title>IBI</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <a href="/login">Login</a>
    <p>
     <a href="/signup">Signup</a>
    <p>
    <a href="/logout">Logout</a>
    <p>
  </body>
</html> -->


<div class="container h-100 d-flex align-items-center justify-content-center">
    <div class="jumbotron my-auto">
        <div class="row text-center">
            <div class="col-sm-4">
                <div class="well">
                    <h3>Publish your portfolio</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="well">
                    <h3>Connect with other traders</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="well">
                    <h3>Meet up in real life</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
                </div>
            </div>
        </div>
    </div>
</div>