<section class="dashboard mx-auto">
    <div class="row text-center">
        <aside id="asideCoins" class="col sortable">
            <label for="text-center something">
	<input id="dropDownCoins" placeholder="Add Coins" list="coins" value="">
	<datalist id="coins">
		<% coins.forEach( (coin) => { %>
    <option><%= coin.id %></options>
    <% }) %>
	</datalist>
</label>
<br>
        </aside>

        <section class="col-7">
            <a href="/user/clan_join" class="btn btn-primary">Join clans</a> Select which coins you wish to follow.
        </section>

        <aside class="col sortable">
            <img src="/images/coins/bitcoin.png" id="bitcoin">
            <img src="/images/coins/ripple.png" id="litecoin">
            <img src="/images/coins/ethereum.png" id="ethereum">
            <img src="/images/coins/litecoin.png" id="litecoin">
            <img src="/images/coins/dash.png" id="dash">
        </aside>
    </div>
</section>