
    <section class="dashboard mx-auto">
        <div class="row">
            <aside class="col sortable">
                <img src="../../img/coins/bitcoin.png" id="bitcoin">
                <img src="../../img/coins/ripple.png" id="litecoin">
                <img src="../../img/coins/ethereum.png" id="ethereum">
                <img src="../../img/coins/litecoin.png" id="litecoin">
                <img src="../../img/coins/dash.png" id="dash">
            </aside>

            <section class="col-7"></section>

            <aside class="col sortable">
                <img src="../../img/coins/bitcoin.png" id="bitcoin">
                <img src="../../img/coins/ripple.png" id="litecoin">
                <img src="../../img/coins/ethereum.png" id="ethereum">
                <img src="../../img/coins/litecoin.png" id="litecoin">
                <img src="../../img/coins/dash.png" id="dash">
            </aside>
        </div>
    </section>