<section class="dashboard mx-auto">
    <div class="row text-center">
        <aside id="asideCoins" class="col sortable">
            <label for="text-center something">
	<input id="dropDownCoins" placeholder="Add Coins" list="coins" value="">
	<datalist id="coins">
		<% coins.forEach( (coin) => { %>
    <option><%= coin.id %></options>
    <% }) %>
	</datalist>
</label>
<br>
<% userCoins.forEach( (coin) => { %>
    <img id="<%= coin %>" src="https://files.coinmarketcap.com/static/img/coins/128x128/<%= coin %>.png">
    <% }) %>
        </aside>

        <section class="col-7">
        </section>

        <aside class="col sortable">

        </aside>
    </div>
</section>