
<section class="dashboard mx-auto">
    <div class="row text-center">
        <aside id="asideCoins" class="col sortable">
            <input id="dropDownCoins" list="dropDown">
            <datalist id="dropDown">
                <% coins.forEach( (coin) => { %>
                    <option>
                        <%= coin.id %>
                            </options>
                            <% }) %>
            </datalist>
        <br>
        <% userCoins.forEach( (coin) => { %>
            <img id="<%= coin %>" src="https://files.coinmarketcap.com/static/img/coins/128x128/<%= coin %>.png">
            <% }) %>
                </aside>

                <section class="col-7">
                    <div>
                        <textarea id="dashboardTextarea" rows="2" class="form-control" placeholder="Share Articles, videos and Pictures"></textarea>
                        <div>
                            <button type="submit" class="btn btn-success">
                        <i class="fa fa-share"></i> Share
                    </button>
                        </div>
                    </div>
                </section>

                <aside class="col sortable">

                </aside>
    </div>
</section>
<script src="/javascripts/main.js"></script>