<div class="container h-100 d-flex align-items-center justify-content-center">
    <div class="jumbotron my-auto">
        <div class="row text-center">
            <div class="col">
                <div class="well">
                    <img id="chart-pie" src="images/pie-sample.png">
                </div>
            </div>
        </div>
        <div class="row text-nowrap text-center">
            <div class="col">
                <br>
                <p>Total value: 1300$</p>
            </div>
        </div>
        <div class="row text-nowrap text-center">
            <div class="col">
                <p>Icon + NameOfCoin</p>
            </div>
            <div class="col">
                <p>1300$</p>
            </div>
            <div class="col">
                <p>Graph</p>
            </div>
            <div class="col">
                <p>up 10%</p>
            </div>
            <div class="col">
                <p>up 10%</p>
            </div>
        </div>
        <div class="row text-nowrap text-center">
            <div class="col">
                <p>Litecoin</p>
            </div>
            <div class="col">
                <p>10$</p>
            </div>
            <div class="col">
                <p>Graph</p>
            </div>
            <div class="col">
                <p>up 9%</p>
            </div>
            <div class="col">
                <p>up 9%</p>
            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
    crossorigin="anonymous"></script>
</body>

</html>