body{
    background-color: lightgrey;
    height: calc(100vh - 56px);
    height: -o-calc(100vh - 56px); /* opera */
    height: -webkit-calc(100vh - 56px); /* google, safari */
    height: -moz-calc(100vh - 56px); /* firefox */
}

.navbar-brand{
  font-size: 20px;
}
a.nostyle:link {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}

a.nostyle:visited {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}

img{
  width: 32px; 
  height: auto;
  cursor: pointer;
}

.dashboard{
    margin-top: 0.5%;
}

#profilePic{
    width: 50px; 
    height: 50px;
    cursor: pointer;
}

li {
    color: white;
    padding-right: 1em;
    cursor: pointer;
}

i {
    font-size: 1.2em !important;
}

#dashboardTextarea{
    margin-bottom: 1%;
}

#dropDownCoins{
    margin-bottom: 2%;
}

.btn{
    cursor: pointer;
}

input[type="text"] {
  display: block;
  margin: 0;
  width: 100%;
  font-family: sans-serif;
  font-size: 18px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
}

input[type="text"]:focus {
  outline: none;
}

.hidden {
  display: none !important;
  visibility: hidden !important;
}

/*edit page*/
#editProfilePic{
    width: 6vw; 
}

#edit{
    padding-top: 1vw;
}

/*connect page*/
.connectProfile{
    border: 2px solid;
    color: whitesmoke;
    border-color: black;
    border-radius: 25px;
    padding: 1%;
    margin: 1%;
    background: #C0C0C0; 
}

.connectCoins{
    vertical-align: middle;
    width: 16px !important;
}

/*connect page*/
.portfolio{
    width: 100%;
}

/*portfolio page*/
#valueChart{
    height: 23vw !important;
}

#totalValueText{
    font-size: 4vw;
}

.styleChart{
    border: 2px solid;
    border-color: black;
    border-radius: 25px;
    background: #C0C0C0; 
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: inline-block !important;
}

.portfolioCoinBox{
    border: 2px solid;
    border-color: black;
    border-radius: 25px;
    padding: 1%;
    margin: 1%;
    background: #C0C0C0; 
}

@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
    .navbar > a {
      visibility:hidden;
      height: 0px;
    }
    #dashboardTextarea{
    margin-top: 1%;
}
}