body{
    color: white;
}

.jumbotron{
    width: 65%;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover{
    color: initial;
    text-decoration: none;
}

.register_fa > .fa{
    font-size: 5vw !important;
    color: white;
}

.social-btn{
    margin-bottom: 10px;
}

.btn-fb{
    width: 15vw;
    background-color:#3b5998;
}
.btn-fb:hover{
    background-color:#496ebc 
}
.btn-lk{
    width: 15vw;   
    background-color:#4875B4;
}
.btn-lk:hover{
    background-color:#0077B5;
}

.container{
    height: calc(100vh - 56px);
    height: -o-calc(100vh - 56px); /* opera */
    height: -webkit-calc(100vh - 56px); /* google, safari */
    height: -moz-calc(100vh - 56px); /* firefox */
    display: flex;
    justify-content: center;
    align-items: center;
}

.col > h1 {
    color: white
}

.btn{
    cursor: pointer;
    margin-top: 5px;
}